h1{
	background-color: black;
	text-align: center;
	font: 45px Comic Sans MS, sans-serif;
	color: white;
}
/* This makes all h1's font comic sans, white and have background of black*/
nav{
	background-color: white;
	font: 25px Comic Sans MS, serif;
	color: white;
	}
  /*This allows my navigation bar to have a white background and have the font of comic sans*/
ul{
	display: inline-block;
	text-decoration: none;
}
/* THis allows my navigation bar to be horizontal rather than vertical.*/
p{
	background-color: white;
	font:15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}
/* This gives my paragraph's a different font from what it was origanaly.*/
li a{
	color: black;
	text-decoration: none;
	display:inline-block; 
}
/*This gives the words in my navigation bar a black colour. */
li{
	display:inline-block; 
}
body {
	background-image: url("../blue-gradient-background.png");
	margin: 0
}
/*This gives my pages background blue */
button {
  display: inline-flex;
  align-items: center;
  background: #C06C84;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .3s, transform .3s, box-shadow .3s;
   will-change: transform;
h2{
	background-color:black;
	color:white;
	margin-left:10px;
	margin-right: 1100px;
	font: 20px Comic Sans MS, sans-serif;
}
h3{
	background-color: white;
	color:black;
	margin-left:10px;
	margin-right: 1225px;
	font:24px Comic Sans MS, sans-serif;
}
/* This makes all h1's font comic sans, black and have background of white.*/

h4{
	background-color: black;
	color:white;
	margin-left:10px;
	margin-right: 1100px;
	font:20px Comic Sans MS, sans-serif;
}